# ENV

.env

# Node modules

node_modules/

# Uploaded PDFs

uploads/

# Runtime memory/data

data/*.json

# SQLite DB

*.db
*.sqlite
database.sqlite

# Logs

npm-debug.log*

# OS files

.DS_Store
Thumbs.db
